package ${ControllerPackage};

import ${ModelName};
import ${ServiceName};
import ${responseModel};
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

/**
 * @description: ${tableRemark}控制层
 */
@RestController
@RequestMapping("${ModelVariableName}")
public class ${ControllerSimpleName} {

    private static final Logger logger = LoggerFactory.getLogger(${ControllerSimpleName}.class);

    @Autowired
    private ${ServiceSimpleName} ${ServiceVariableName};

    /**
     * 添加
     *
     * @param record
     */
    @PostMapping("/")
    public ${SimplResponseModel} add(@RequestBody ${ModelSimpleName} record){
        logger.info("添加${tableRemark}操作,[record] => {}", record);
        int i = this.${ServiceVariableName}.add(record);
        return i==0? ${SimplResponseModel}.error():${SimplResponseModel}.success();
    }

    /**
     * 修改
     *
     * @param record
     */
    @PutMapping("/")
    public ${SimplResponseModel} update(@RequestBody ${ModelSimpleName} record){
        logger.info("修改${tableRemark}操作,[record] => {}", record);
        int i = this.${ServiceVariableName}.update(record);
        return i == 0 ? ${SimplResponseModel}.error() : ${SimplResponseModel}.success();
    }

    /**
     * 真实删除
     *
     * @param id
     * @return
     */
    @DeleteMapping("{id}")
    public ${SimplResponseModel} delete(@PathVariable("id") String id){
        logger.info("删除【{}】操作,[id] => {}", "${tableRemark}", id);
        int i = this.${ServiceVariableName}.delete(id);
        return i == 0 ? ${SimplResponseModel}.error() : ${SimplResponseModel}.success();
    }

    /**
     * 根据Id查询
     *
     * @param id
     * @return
     */
    @GetMapping("{id}")
    public ${SimplResponseModel} getById(@PathVariable("id") String id){
        logger.info("根据Id查询【{}】操作,[id] => {}", "${tableRemark}", id);
        ${ModelSimpleName} record = this.${ServiceVariableName}.selectById(id);
        return ${SimplResponseModel}.success(record);
    }

    /**
    * 分页查询
    *
    * @param record
    * @return
    */
    @GetMapping("/page")
    public ${SimplResponseModel} page(@ModelAttribute ${ModelSimpleName} record){
        logger.info("进行${tableRemark}分页查询操作，[record] => {}", record);
        return ${SimplResponseModel}.success(this.${ServiceVariableName}.selectByPage(record));
    }

    /**
    * 全量查询列表
    *
    * @param record
    * @return
    */
    @GetMapping("/")
    public ${SimplResponseModel} list(@ModelAttribute ${ModelSimpleName} record){
        logger.info("进行${tableRemark}全量查询操作，[record] => {}", record);
        return ${SimplResponseModel}.success(this.${ServiceVariableName}.selectList(record));
    }

}
