package ${DaoPackage};

import ${ModelName};
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;
import java.util.List;

@Mapper
@Repository
public interface ${DaoSimpleName} {

    /**
     * 根据主键删除${tableRemark}
     */
    int deleteByPrimaryKey(${PkType} ${PkName});

    /**
     * 增加
     */
    int insertSelective(${ModelSimpleName} record);

    /**
     * 根据条件查询${tableRemark}
     */
    ${ModelSimpleName} selectBySelective(${ModelSimpleName} record);

    /**
     * 根据主键修改${tableRemark}
     */
    int updateByPrimaryKeySelective(${ModelSimpleName} record);

    /**
     * 根据条件查询全部${tableRemark}
     *
     * @return
     */
    List<${ModelSimpleName}> selectList(${ModelSimpleName} record);

}