package ${DaoPackage};

import ${ModelName};
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;
import java.util.List;

@Mapper
@Repository
public interface ${DaoSimpleName} {

    /**
     * 根据主键删除
     */
    int deleteByPrimaryKey(String id);

    /**
     * 增加
     */
    int insertSelective(${ModelSimpleName} record);

    /**
     * 根据条件查询
     */
    ${ModelSimpleName} selectBySelective(${ModelSimpleName} record);

    /**
     * 根据主键修改
     */
    int updateByPrimaryKeySelective(${ModelSimpleName} record);

    /**
     * 根据条件查询全部
     *
     * @return
     */
    List<${ModelSimpleName}> selectList(${ModelSimpleName} record);

}