package ${ModelPackage};

import lombok.Data;
import lombok.experimental.Accessors;

#foreach(${import} in ${importSets})
import ${import};
#end

/**
 * ${tableRemark}
 *
 * @author ${author}
 */
@Data
@Accessors(chain = true)
public class ${ModelSimpleName} #if(${extend})extends ${extend}#end {

    #foreach(${filed} in ${fields})
/** #if(${filed.primary})主键 #end${filed.remark} */
    private ${filed.javaType} ${filed.humpName};

    #end

}