package ${ServiceImplPackage};

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import ${ModelName};
#if(${multiConditionQuery})
import ${ModelPoName};
#end
import ${DaoName};
import ${ServiceName};
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Date;

/**
 * @description: ${tableRemark}服务层接口实现
 */
@Service
@Transactional(propagation = Propagation.REQUIRED,rollbackFor = Exception.class)
public class ${ServiceImplSimpleName} implements ${ServiceSimpleName} {

    @Autowired
    private ${DaoSimpleName} ${DaoVariableName};

    /**
     * 添加${tableRemark}
     *
     * @param record
     */
    public int add(${ModelSimpleName} record) {
        record.set${setPkName}(${idUtil});
        //todo do something else.
        return this.${DaoVariableName}.insertSelective(record);
    }

    /**
     * 修改${tableRemark}
     *
     * @param record
     */
    public int update(${ModelSimpleName} record) {
        //todo do something else.
        return this.${DaoVariableName}.updateByPrimaryKeySelective(record);
    }

    /**
     * 真实删除${tableRemark}
     *
     * @param id
     * @return
     */
    public int delete(String id) {
        return this.${DaoVariableName}.deleteByPrimaryKey(id);
    }

    /**
     * 根据Id查询${tableRemark}
     *
     * @param ${PkName}
     * @return
     */
    public ${ModelSimpleName} selectById(${PkType} ${PkName}) {
        return this.${DaoVariableName}.selectByPrimaryKey(${PkName});
    }

    /**
     * 分页查询${tableRemark}
     *
     * @param record
     * @param pageNum
     * @param pageSize
     * @return
     */
    public PageInfo<${ModelSimpleName}> selectByPage(#if(${multiConditionQuery})${ModelPoSimpleName}#else${ModelSimpleName}#end record, Integer pageNum, Integer pageSize) {
        Page<${ModelSimpleName}> page = PageHelper.startPage(pageNum, pageSize);
        this.${DaoVariableName}.selectList(record);
        return page.toPageInfo();
    }

    /**
     * 全量查询${tableRemark}列表
     *
     * @param record
     * @return
     */
    public List<${ModelSimpleName}> selectList(#if(${multiConditionQuery})${ModelPoSimpleName}#else${ModelSimpleName}#end record) {
        return this.${DaoVariableName}.selectList(record);
    }

}
