package ${ServicePackage};

import com.github.pagehelper.PageInfo;
import ${ModelName};

import java.util.List;

/**
 * @description: ${tableRemark}服务层接口
 */
public interface ${ServiceSimpleName} {

    /**
     * 添加${tableRemark}
     *
     * @param record
     */
    int add(${ModelSimpleName} record);

    /**
     * 修改${tableRemark}
     *
     * @param record
     */
    int update(${ModelSimpleName} record);

    /**
     * 真实删除${tableRemark}
     *
     * @param id
     * @return
     */
    int delete(String id);

    /**
     * 根据Id查询${tableRemark}
     *
     * @param id
     * @return
     */
    ${ModelSimpleName} selectById(String id);

    /**
    * 分页查询${tableRemark}
    *
    * @param record
    * @return
    */
    PageInfo<${ModelSimpleName}> selectByPage(${ModelSimpleName} record);

    /**
    * 全量查询${tableRemark}列表
    *
    * @param record
    * @return
    */
    List<${ModelSimpleName}> selectList(${ModelSimpleName} record);

}
